<link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap"
 rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" 
  rel="stylesheet" 
  type="text/css">

  .questions {
    font-size: 16px;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: black;  
  }

.smaller-image {
  width: 200px;
  border-radius: 500px;
  position: absolute;
  right: 80px;
}


  .header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 80px;
    overflow: hidden;
    background-color: #852424;
    padding: 10px 100px;
    text-align: center;
    color: white;
    font-size: 18px;
   
  }
  
  .question {
    font-size: 16px;
    font-family: 'Lobster', serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: maroon;
    border-radius: 10px
    
  }

  .question-culture {
    font-size: 16px;
    font-family: 'Lobster', serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: maroon;
    border-radius: 10px
    
  }
ol li {
  list-style-type: none;
  text-align: center;
}
  .list-position {
    position: relative;
    left: 20px;
  }
  
  .honeydew-background {
      background-color: honeydew;
      border-radius: 10px
    
  }

  .ochre-yellow {
    background-color: rgb(250, 223, 106);
    border-radius: 10px;
  }
  .thin-maroon-border {
    border-color:maroon;
    border-width:1.5px;
    border-style: solid;
    border-radius: 10px;
    padding:.5em;
  }
  .honeydew-background{
    background-color: honeydew;
    border-radius: 10px
  }

  body {
    background-color:whitesmoke;
    font-family: 'PT Serif', serif;
    text-align: center;
    margin: 10px 50px 10px 50px;
    width: 800px;
    padding: 100px 180px;  

  }

  h2 {
    color:brown;
    font-size: 35px;
    font-family: 'PT Serif', serif;
    text-align: center;
  }

    h3 {
      color:black;
      font-family: 'PT Serif', serif;
      text-align: center;
      font-size: 25px;
      text-align: center;
    }

  
    h4 {
      color: black;
      font-family: 'PT Serif', serif;
      text-align: center;
      font-size: 20px;
    }

  p {
    color: black;
    font-size: 16px;
    font-family: 'PT Serif' serif;
    text-align: center;
  }
  

